#name{
position:fixed;
bottom:0;
width: 100%;
line-height: 3;
font-family: 'Times New Roman', Times, serif;
}
#namedevelop{
    background-color: lightskyblue;
}
#body{
    background-color: blanchedalmond;
}
#title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
img{
    width: 400;
    height: 400;
    border-width: 4;
}
img:hover{
    width:500;
    height:500;
}
